Repository karrotmvp/mymap, pull requests merged in 2021-11, with the labels that each got.

#70 [chore] 도커 빌드 해제, mixpanel 토큰 추가
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
  docker-compose.blue.yml
  docker-compose.green.yml
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#71 client - 이벤트 로깅
  client/package.json
  client/src/App.tsx
  client/src/Pages/Onboarding.tsx
  client/src/custom.d.ts
  client/src/index.tsx
  client/src/utils/mixpanel.ts
  client/yarn.lock
Labels: client

#72 [chore] CORS 제거, deploy.yml docker build 제거
  .github/workflows/deploy.yml
  server/src/auth/daangn.guard.ts
  server/src/main.ts
Labels: server

#74 [feature] 풍성피드 이탈 채팅 문구 수정
  server/messages/poongsung.json
Labels: server

#75 server - 풍성피드 이탈 채팅 문구 수정
  server/messages/poongsung.json
Labels: server

#77 [fix] dev에서만 cors설정
  server/src/main.ts
Labels: server

#78 11.01 풍피배포
  client/src/App.tsx
  client/src/Pages/ClosePage.tsx
  client/src/Pages/Write/Onboard/SubmitFinish.tsx
  client/src/Pages/Write/SearchPlace.tsx
  client/src/Pages/Write/Write.tsx
  client/src/Shared/atom.ts
  client/src/utils/mixpanel.ts
  server/src/main.ts
Labels: client, server

#79 11.01 풍피 배포_최종
  client/src/App.tsx
  client/src/Pages/Onboarding.tsx
  client/src/Pages/Write/SearchPlace.tsx
  client/src/Pages/Write/Write.tsx
Labels: client, server

#81 [fix] noti type 없을 때 exception handling
  server/src/notification/notification.controller.ts
Labels: server

#82 [test]
  server/config/configuration.ts
  server/src/auth/daangn.strategy.ts
Labels: server

#84 [fix] 큐 비동기 처리
  server/src/notification/notification.service.ts
Labels: server

#86 [fix] preopen 한번만 등록되도록 설정
  server/src/user/user.service.ts
Labels: server

#87 11.02 풍피 배포 찐최종
  server/src/user/user.service.ts
Labels: server

#88 [fix] mixpanel post created event 누락
  server/src/post/post.service.ts
Labels: server

#89 [fix] server - post_created mixpanel 이벤트 누락
  server/src/post/post.service.ts
Labels: server

#90 [feature] admin 추가
  .github/workflows/deploy-dev.yml
  admin/.gitignore
  admin/README.md
  admin/package-lock.json
  admin/package.json
  admin/public/favicon.ico
  admin/public/index.html
  admin/public/logo192.png
  admin/public/logo512.png
  admin/public/manifest.json
  admin/public/robots.txt
  admin/src/App.test.js
  admin/src/components/App.js
  admin/src/components/views/LandingPage/PostPage.js
  admin/src/components/views/LandingPage/post.css
  admin/src/components/views/LoginPage/loginPage.js
  admin/src/components/views/NavBar/NavBar.js
  admin/src/components/views/NavBar/navbar.css
  admin/src/index.css
  admin/src/index.js
  admin/src/logo.svg
  admin/src/reportWebVitals.js
  admin/src/setupTests.js
  admin/yarn.lock
  server/src/main.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
  server/src/user/entities/user.entity.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: server

#91 [fix] useEffect dependency
  admin/src/components/views/LandingPage/PostPage.js
Labels: server

#93 [chore] cors 설정 변경 + swagger init
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/place/dto/coordinates.dto.ts
  server/src/place/dto/place.dto.ts
  server/src/post/dto/create-pin.dto.ts
  server/src/post/dto/create-post.dto.ts
  server/src/post/dto/feed.dto.ts
  server/src/post/dto/pin.dto.ts
  server/src/post/dto/post.dto.ts
  server/src/post/dto/update-post.dto.ts
  server/src/post/post.controller.ts
  server/src/user/dto/create-user.dto.ts
  server/src/user/dto/user.dto.ts
  server/src/user/user.controller.ts
Labels: server

#94 [fix] post update boolean 처리 에러
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
Labels: server

#95 11.04 배포
  client/src/App.tsx
  client/src/Components/Collection/index.tsx
  client/src/Components/Header.tsx
  client/src/Components/MapView.tsx
  client/src/Pages/Detail/DetailMapView.tsx
  client/src/Pages/Detail/SaveButton.tsx
  client/src/Pages/Detail/index.tsx
  client/src/Pages/Main/Main.tsx
  client/src/Pages/Write/Write.tsx
  client/src/Shared/atom.ts
  client/src/Shared/type.ts
  client/src/api/post.ts
  client/src/styles/globalStyle.ts
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/place/dto/coordinates.dto.ts
  server/src/place/dto/place.dto.ts
  server/src/post/dto/create-pin.dto.ts
  server/src/post/dto/create-post.dto.ts
  server/src/post/dto/feed.dto.ts
  server/src/post/dto/pin.dto.ts
  server/src/post/dto/post.dto.ts
  server/src/post/dto/update-post.dto.ts
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
  server/src/user/dto/create-user.dto.ts
  server/src/user/dto/user.dto.ts
  server/src/user/user.controller.ts
Labels: client, server

#97 [fix] cors
  server/src/main.ts
Labels: server

#98 [fix] post share 알고리즘 수정
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
  server/src/post/savedPost.repository.ts
Labels: server

#99 [fix] share 알고리즘 수정
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
  server/src/post/savedPost.repository.ts
Labels: server

#102 [fix] login시 regionName 추가
  server/src/user/dto/user.dto.ts
Labels: bug, server

#103 [fix] login 시 regionName
  server/src/user/dto/user.dto.ts
Labels: bug, server

#104 [feature] admin 삭제 공/비 전환 기능 추가
  admin/src/components/App.js
  admin/src/components/views/LandingPage/NotificationPage.js
  admin/src/components/views/LandingPage/PostPage.js
  admin/src/components/views/NavBar/NavBar.js
  server/package-lock.json
  server/package.json
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
  server/src/user/user.service.ts
Labels: server

#105 [feature] kafka 적요
  admin/src/components/views/LandingPage/UserPage.js
  admin/src/components/views/LoginPage/loginPage.js
  admin/src/index.js
  server/package-lock.json
  server/package.json
  server/src/event/event-pub-sub.ts
  server/src/event/event.module.ts
  server/src/main.ts
  server/src/place/place.repository.ts
  server/src/tools/mixpanel.processor.ts
  server/src/tools/slack.processor.ts
  server/src/tools/tools.module.ts
Labels: server

#106 [fix] kafka -> redis
  server/package-lock.json
  server/package.json
  server/src/event/event-pub-sub.ts
  server/src/event/event.module.ts
  server/src/main.ts
  server/src/tools/mixpanel.processor.ts
  server/src/tools/slack.processor.ts
Labels: server

#107 [fix]
  server/src/event/event.module.ts
  server/src/main.ts
Labels: server

#108 [fix] ClientModule Factory apply
  server/src/event/event.module.ts
Labels: server

#109 [fix] worker infra fix
  deploy_worker.sh
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#110 11.09 1차 배포 최종 병합
  admin/src/components/views/LandingPage/UserPage.js
  admin/src/components/views/LoginPage/loginPage.js
  admin/src/index.js
  deploy_worker.sh
  server/package-lock.json
  server/package.json
  server/src/event/event-pub-sub.ts
  server/src/event/event.module.ts
  server/src/main.ts
  server/src/place/place.repository.ts
  server/src/tools/mixpanel.processor.ts
  server/src/tools/slack.processor.ts
  server/src/tools/tools.module.ts
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: client, server

#111 [feature] P1 스펙 API 초안 + Swagger
  server/messages/poongsung.json
  server/src/main.ts
  server/src/place/dto/create-recommendPlace.dto.ts
  server/src/place/dto/regionPlace.dto.ts
  server/src/place/entities/recommendPlace.entity.ts
  server/src/place/place.controller.ts
  server/src/place/place.module.ts
  server/src/place/place.service.ts
  server/src/place/recommendPlace.repository.ts
  server/src/post/dto/create-post.dto.ts
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
  server/src/region/region.repository.ts
  server/src/region/region.service.ts
  server/src/user/user.service.ts
Labels: server

#112 [fix] recommend random page default value set
  server/src/place/place.controller.ts
Labels: server

#113 [fix] 동네 검색 범위 수정
  server/src/region/region.repository.ts
Labels: server

#114 [fix] 피드에서 나만 보기 안보이게 수정 + 둘러보기 좌표 추가
  server/src/place/dto/regionPlace.dto.ts
  server/src/place/place.controller.ts
  server/src/place/place.service.ts
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
Labels: server

#119 [feature] 내가 저장한 장소 saved 변경
  server/src/place/place.service.ts
  server/src/post/post.service.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: server

#120 [feature] 기본테마 + 테마 리스트 + 전화번호 정규식
  server/src/auth/daangn.strategy.ts
  server/src/event/event-pub-sub.ts
  server/src/place/dto/place.dto.ts
  server/src/place/place.controller.ts
  server/src/place/place.service.ts
  server/src/post/dto/create-post.dto.ts
  server/src/post/dto/update-post.dto.ts
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.module.ts
  server/src/post/post.processor.ts
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
  server/src/region/region.repository.ts
  server/src/region/region.service.ts
  server/src/tools/mixpanel.processor.ts
  server/src/user/user.controller.ts
  server/src/user/user.service.ts
Labels: server

#121 [fix] GET /api/post/ -> GET /api/post/myPost 로 통합
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
Labels: server

#122 [feature] 추천 장소 어드민 추가
  admin/src/components/App.js
  admin/src/components/views/LandingPage/RecommendPage.js
  admin/src/components/views/NavBar/NavBar.js
  mymap.conf
Labels: server

#123 [fix] 검색 범위 확장
  server/src/place/place.repository.ts
  server/src/region/region.repository.ts
Labels: server

#124 [fix] useEffect import 수정
  admin/src/components/views/LandingPage/RecommendPage.js
Labels: server

#125 [fix] 핀 추가API 테마아이디 배열로 변경
  server/src/post/post.controller.ts
Labels: server

#126 server - 11.12 배포
  admin/src/components/App.js
  admin/src/components/views/LandingPage/RecommendPage.js
  admin/src/components/views/NavBar/NavBar.js
  mymap.conf
  server/messages/poongsung.json
  server/src/auth/daangn.strategy.ts
  server/src/event/event-pub-sub.ts
  server/src/main.ts
  server/src/place/dto/create-recommendPlace.dto.ts
  server/src/place/dto/place.dto.ts
  server/src/place/dto/regionPlace.dto.ts
  server/src/place/entities/recommendPlace.entity.ts
  server/src/place/place.controller.ts
  server/src/place/place.module.ts
  server/src/place/place.repository.ts
  server/src/place/place.service.ts
  server/src/place/recommendPlace.repository.ts
  server/src/post/dto/create-post.dto.ts
  server/src/post/dto/update-post.dto.ts
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.module.ts
  server/src/post/post.processor.ts
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
  server/src/region/region.repository.ts
  server/src/region/region.service.ts
  server/src/tools/mixpanel.processor.ts
  server/src/user/user.controller.ts
  server/src/user/user.repository.ts
  server/src/user/user.service.ts
Labels: server

#127 [fix] mypostInfo 호출 시 pin 정보 추가
  server/src/app.module.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
Labels: server

#128 [fix] 유저 포스트 리스트 가져올 때 feeddto로 변경, 최신순으로 / 핀 저장 삭제 기능
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
Labels: server

#129 [fix] myPost -> mypost/info 분리
  server/src/post/entities/pin.entity.ts
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
  server/src/user/entities/user.entity.ts
Labels: server

#130 [fix] PUT /post/pin bug fix:
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
Labels: bug, server

#131 [fix] 코드 정리
  server/src/app.module.ts
  server/src/post/post.service.ts
Labels: server

#132 [chore] 롤백 개션
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
Labels: server

#133 [fix] PUT /post/pin 버그 수정 - 형변환 문제
  server/src/post/post.controller.ts
Labels: bug, server

#134 [fix] 피드에서 핀 없는 것 내려오지 않게 설정
  server/src/post/post.repository.ts
Labels: server

#136 [fix] 피드에서 핀 없는 것 내려오지 않게 설정
  server/src/post/post.repository.ts
Labels: server

#137 11.12 찐막배포
  server/src/post/post.repository.ts
Labels: server

#138 [fix] 내 리스트 호출 시 지역 거르기
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
Labels: server

#139 [fix] readPlace 비동기 처리
  server/src/place/dto/place.dto.ts
  server/src/place/place.service.ts
  server/src/post/post.controller.ts
  server/src/post/post.module.ts
  server/src/post/post.service.ts
Labels: bug, server

#140 [fix] savedPost 저장시간순
  server/src/post/post.module.ts
  server/src/post/post.processor.ts
  server/src/post/post.service.ts
Labels: server

#141 [feature] admin 추천장소 지역별 갯수 추가
  admin/src/components/views/LandingPage/RecommendPage.js
  server/src/place/place.controller.ts
  server/src/place/place.service.ts
  server/src/region/region.repository.ts
Labels: server

#142 [feature] server - 추천 장소 어드민 갯수 추가
  admin/src/components/views/LandingPage/RecommendPage.js
  server/src/place/place.controller.ts
  server/src/place/place.service.ts
  server/src/region/region.repository.ts
Labels: server

#143 [fix] 범위 정보 수정
  server/src/place/place.service.ts
  server/src/post/post.service.ts
  server/src/region/region.repository.ts
  server/src/region/region.service.ts
Labels: server

#144 [fix] server - 범위 정보 수정
  server/src/place/place.service.ts
  server/src/post/post.service.ts
  server/src/region/region.repository.ts
  server/src/region/region.service.ts
Labels: server

#145 [fix] range 버그 수정
  server/src/place/place.service.ts
  server/src/post/post.processor.ts
  server/src/region/region.repository.ts
Labels: bug, server

#146 [fix] range 버그 수정
  server/src/place/place.service.ts
  server/src/post/post.processor.ts
  server/src/region/region.repository.ts
Labels: bug, server

#147 [fix] default post bug fix
  server/src/post/post.module.ts
Labels: server

#148 [fix] default post bug fix
  server/src/post/post.module.ts
Labels: server

#149 [fix] 글 안쓴 사람만 기본 테마
  server/src/post/post.service.ts
  server/src/user/user.service.ts
Labels: server

#150 [fix] 글 안쓴 사람만 기본 테마
  server/src/post/post.service.ts
  server/src/user/user.service.ts
Labels: server

#151 [fix] 기본 테마 안뜨는 버그 수정
  server/messages/preopen.json
  server/src/post/post.service.ts
  server/src/region/region.repository.ts
Labels: bug, server

#152 [fix] 기본테마 안뜨는 버그 수정
  server/messages/preopen.json
  server/src/post/post.service.ts
  server/src/region/region.repository.ts
Labels: bug, server

#153 [fix] PUT pin 할 때 지역 업데이트
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
Labels: server

#154 [fix] PUT pin 시 지역 업데이트
  server/src/post/entities/post.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
Labels: server

#155 [feature] JWT 인증 방식 변경 / readPost, readFeed 비로그인 시에도 접근 가능
  server/src/auth/auth.module.ts
  server/src/auth/role.enum.ts
  server/src/auth/roles.decorator.ts
  server/src/auth/roles.guard.ts
  server/src/notification/notification.controller.ts
  server/src/place/place.controller.ts
  server/src/place/place.module.ts
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
  server/src/user/user.controller.ts
Labels: server

#156 [feature/fix] 지역 이름 반환 API 추가 / 토큰 없을 때 예외처리
  server/src/auth/roles.guard.ts
  server/src/region/region.controller.spec.ts
  server/src/region/region.controller.ts
  server/src/region/region.module.ts
Labels: server

#157 [feature/fix] 지역 이름 반환 API 추가 / 토큰 없을 때 예외처리
  server/src/auth/roles.guard.ts
  server/src/region/region.controller.spec.ts
  server/src/region/region.controller.ts
  server/src/region/region.module.ts
Labels: server

#158 [fix] jwt expired 예외 처리
  server/src/auth/roles.guard.ts
Labels: server

#159 [fix] jwt expired 예외 처리
  server/src/auth/roles.guard.ts
Labels: server

#160 [feature] swagger 완성
  server/src/place/place.controller.ts
  server/src/post/post.controller.ts
Labels: server

#161 [feature] mixpanel 이벤트 추가 + bulk_insert
  .gitignore
  bulk_insert/bulk_insert.js
  bulk_insert/package-lock.json
  server/src/event/event-pub-sub.ts
  server/src/place/place.controller.ts
  server/src/post/post.controller.ts
  server/src/tools/mixpanel.processor.ts
Labels: server

#162 11.19 배포
  .gitignore
  bulk_insert/bulk_insert.js
  bulk_insert/package-lock.json
  client/src/App.tsx
  client/src/Pages/MyPage/MyPlaces.tsx
  server/src/event/event-pub-sub.ts
  server/src/place/place.controller.ts
  server/src/post/post.controller.ts
  server/src/tools/mixpanel.processor.ts
Labels: client, server

#163 [chore+feature] datadog init + 사전예약 알림 시퀀스 변경
  docker-compose.blue.yml
  docker-compose.green.yml
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/notification/notification.module.ts
  server/src/notification/notification.service.ts
  server/src/user/user.service.ts
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#164 [chore+feature] datadog init + 사전예약 알림 시퀀스 변경
  docker-compose.blue.yml
  docker-compose.green.yml
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/notification/notification.module.ts
  server/src/notification/notification.service.ts
  server/src/user/user.service.ts
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#165 [fix] datadog agent env changed
  docker-compose.blue.yml
  docker-compose.green.yml
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#166 [fix] datadog agent env changed
  docker-compose.blue.yml
  docker-compose.green.yml
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#167 [fix] dd env fix
  docker-compose.blue.yml
  docker-compose.green.yml
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#168 [fix] dd env fix
  docker-compose.blue.yml
  docker-compose.green.yml
  worker_docker-compose.blue.yml
  worker_docker-compose.green.yml
Labels: server

#170 [fix] contorller inject
  server/src/place/place.module.ts
Labels: bug, server

#171 [feature] image priority apply
  .gitignore
  bulk_insert/priority.js
  server/src/place/entities/recommendPlace.entity.ts
  server/src/place/place.service.ts
  server/src/place/recommendPlace.repository.ts
Labels: server

#173 [fix] create-post pin validation 제거
  server/src/post/dto/create-post.dto.ts
  server/src/post/post.service.ts
Labels: server

#174 [fix] create-post pin validation 제거
  server/src/post/dto/create-post.dto.ts
  server/src/post/post.service.ts
Labels: server

#175 [chore] REACT ENV 추가
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
Labels: server

#176 [chore] REACT ENV 추가
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
Labels: server
