Repository karrotmvp/mymap, pull requests merged in 2021-10, with the labels that each got.

#24 client - 마크업 완료
  client/package.json
  client/public/index.html
  client/src/App.tsx
  client/src/Components/Alert.tsx
  client/src/Components/Collection.tsx
  client/src/Components/CreateButton.tsx
  client/src/Components/Footer.tsx
  client/src/Components/Header.tsx
  client/src/Components/MapView.tsx
  client/src/Components/PinSlider/PinSlider.tsx
  client/src/Components/PinSlider/Swiper.tsx
  client/src/Components/PlaceBox.tsx
  client/src/Components/PlaceInfo.tsx
  client/src/Components/SearchList.tsx
  client/src/Hooks/useDebounce.ts
  client/src/Pages/Around.tsx
  client/src/Pages/Around/Around.tsx
  client/src/Pages/Around/AroundMapView.tsx
  client/src/Pages/Detail.tsx
  client/src/Pages/Detail/Detail.tsx
  client/src/Pages/Detail/DetailMapView.tsx
  client/src/Pages/Main.tsx
  client/src/Pages/Main/Main.tsx
  client/src/Pages/Main/MainSlide.tsx
  client/src/Pages/Mypage.tsx
  client/src/Pages/SearchPlace.tsx
  client/src/Pages/Write/PlaceMapView.tsx
  client/src/Pages/Write/SearchPlace.tsx
  client/src/Pages/Write/Write.tsx
  client/src/Shared/type.ts
  client/src/assets/back.svg
  client/src/assets/close.svg
  client/src/assets/delete.svg
  client/src/assets/edit.svg
  client/src/assets/edit_2.svg
  client/src/assets/index.ts
  client/src/assets/list.svg
  client/src/assets/map.svg
  client/src/assets/more.svg
  client/src/assets/more_2.svg
  client/src/assets/plus.svg
  client/src/assets/refresh.svg
  client/src/assets/search_close.svg
  client/src/custom.d.ts
  client/src/styles/globalStyle.ts
  client/src/styles/style.d.ts
  client/src/styles/theme.ts
  client/src/utils/dummy.ts
  client/yarn.lock
Labels: client

#30 [feature] savedPost 삭제 기능 추가 + client build용 env 스크립트 추가
  .github/workflows/deploy.yml
  server/src/post/entities/savedPost.entity.ts
  server/src/post/post.controller.ts
  server/src/post/post.repository.ts
  server/src/post/post.service.ts
  server/src/post/savedPost.repository.ts
Labels: server

#32 [fix] deploy.yml 작업 디렉토리 추가
  .github/workflows/deploy.yml
Labels: server

#41 [fix] login router get으로 변경
  server/src/user/user.controller.ts
Labels: server

#42 [fix] login get으로 변경
  server/src/user/user.controller.ts
Labels: server

#43 [fix] feed 호출 로직 수정
  server/src/post/post.repository.ts
Labels: bug, server

#44 [fix] feed 호출 로직 수정
  server/src/post/post.repository.ts
Labels: bug, server

#47 [fix] post response + user regionName
  server/src/post/post.controller.ts
  server/src/post/post.service.ts
  server/src/user/dto/user.dto.ts
  server/src/user/user.controller.ts
  server/src/user/user.module.ts
Labels: server

#49 [feature] 개발용 유저 반환
  server/src/user/user.service.ts
Labels: server

#50 [feature] server - 개발용 유저 반환
  server/src/user/user.service.ts
Labels: server
